.BaseApp {
  text-align: center;
  font-family: "Lucida Console";
}

.BaseApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .BaseApp-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.BaseApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BaseApp-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  font-family: "Lucida Console";
}
div#bar {
  width: 0px;
  height: 0px;
}

div#highContainer {
  background-color: #cccccc;
}


div#top-players-team {
  transform: translate(600px, -1600px);
}


div#userteam-roster {
  transform: translate(1300px, -1000px);
}


div#team-comparison {
  transform: translate(500px, -1500px);
  position: absolute;

}