.BaseApp {
  text-align: center;
  font-family: "Lucida Console";
  width: 3000px;
  height: 3000px;
}

.BaseApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .BaseApp-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.BaseApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BaseApp-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  font-family: "Lucida Console";
}

div#root {
  width: 100%;
  height: 100%;
  /*resize: both;
  overflow: auto;*/
}

div#bar {
  width: 0px;
  height: 0px;
}

div#highContainer {
  background-color: #cccccc;
}

div#baseContainer {
  /*background-color: #cccccc;*/
  width: 3000px;
  height: 3000px;
}



div#top-players-team {
  transform: translate(800px, -1400px);
}


div#userteam-roster {
  transform: translate(1300px, -800px);
}


div#team-comparison {
  transform: translate(0px, -900px);
  position: absolute;

}

h3#team-comp-head {
  transform: translate(0px, 100px);
}